<form
  id="form"
  method="GET"
  action="/#timelines">
  <header
    class="controls">
    <div
      class="form-group radios">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mode"
          id="mode-poles"
          value="poles"
          {{#is_poles_mode}}checked{{/is_poles_mode}}>
        <label
          class="form-check-label"
          for="mode-poles">
          Ville à ville
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="mode"
          id="mode-stops"
          value="stops"
          {{#is_stops_mode}}checked{{/is_stops_mode}}>
        <label
          class="form-check-label"
          for="mode-stops">
          Arrêt à arrêt
        </label>
      </div>
    </div>
  </header>
  <header
    class="controls">
    <div
      class="form-group">
      <label
        for="from-select">
        Depuis
      </label>
      <select
        id="from-select"
        class="form-control"
        name="from">
        {{#stops}}
        <option
          value="{{bs_name}}"
          {{#is_from}}selected{{/is_from}}>
          {{bs_name}}
        </option>
        {{/stops}}
      </select>
    </div>
    <div
      class="form-group">
      <label
        for="to-select">
        Vers
      </label>
      <select
        id="to-select"
        class="form-control"
        name="to">
        {{#stops}}
        <option
          value="{{bs_name}}"
          {{#is_to}}selected{{/is_to}}>
          {{bs_name}}
        </option>
        {{/stops}}
      </select>
    </div>
    <div
      class="form-group">
      <label
        for="days-select">
        Jour
      </label>
      <select
        id="days-select"
        class="form-control"
        name="day">
        {{#days}}
        <option
          value="{{day_num}}"
          {{#is_day}}selected{{/is_day}}>
          {{day_name}}
        </option>
        {{/days}}
      </select>
    </div>
    <div
      class="form-group">
      <label
        for="variants-select">
        Période
      </label>
      <select
        id="variants-select"
        class="form-control"
        name="variant">
        {{#variants}}
        <option
          value="{{bl_variant}}"
          {{#is_variant}}selected{{/is_variant}}>
          {{bl_variant}}
        </option>
        {{/variants}}
      </select>
    </div>
    <div
      class="form-group">
      <label
        for="min-hour">
        Heure de début
      </label>
      <select
        id="min-hour"
        class="form-control"
        name="min-hour">
        {{#hours}}
        <option
          value="{{hour}}"
          {{#is_min_hour}}selected{{/is_min_hour}}>
          {{hour}}
        </option>
        {{/hours}}
      </select>
    </div>
    <div
      class="form-group">
      <label
        for="max-hour">
        Heure de fin
      </label>
      <select
        id="max-hour"
        class="form-control"
        name="max-hour">
        {{#hours}}
        <option
          value="{{hour}}"
          {{#is_max_hour}}selected{{/is_max_hour}}>
          {{hour}}
        </option>
        {{/hours}}
      </select>
    </div>
    <div
      class="form-group">
      <label>&nbsp;</label>
      <button
        type="submit"
        class="form-control">
        Soumettre ⬇️
      </button>
    </div>
  </header>
  <main
    id="timelines">
    <h3>Horaires des lignes*</h3>
    <p
      class="center">
      Attention, cette grille ne tient compte à l'heure actuelle que des lignes 147a, 247a, 347a, 831, 832, 833, E83 et E85.
    </p>
    {{^empty}}
      <table
        class="table table-bordered table-hover table-sm">
        <thead
          class="thead-dark">
          <tr>
            <th></th>
            {{#slots}}
            <th class="center">{{bs_slot_human}}</th>
            {{/slots}}
          </tr>
        </thead>
        {{#systems}}
        <thead
          class="thead-light">
          <tr
            class="reverse">
            <th
              class="left"
              colspan="{{full_colspan}}">
              {{bl_system}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#lines}}
          <tr>
            <td
              class="right bold">
              {{b_name}}
            </td>
            {{#slots}}
            <td
              class="right">
              {{#buses}}
                {{bs_time_human}}<br/>
              {{/buses}}
            </td>
            {{/slots}}
          </tr>
          {{/lines}}
        </tbody>
        {{/systems}}
      </table>
    {{/empty}}
    {{#empty}}
      <div class="alert alert-primary" role="alert">
        <p>Il n'existe aucune données pour ce trajet, veuillez choisir d'autre arrêts.</p>
        <p>Avant de tirer des conclusions, merci de tenir compte des éléments suivants:</p>
        <ul>
          <li>Seules les lignes 147a, 247a, 347a, 831, 832, 833, E83 et E85 sont prises en compte actuellement.</li>
          <li>Le TEC à la demande n'est pas pris en compte ici et peut offrir une solution de remplacement.</li>
          <li>L'outil n'est pas un planificateur de trajet: seuls les trajets empruntant une seule ligne de bus sont pris en compte.</li>
        </ul>
      </div>
    {{/empty}}
  </main>
  <button
    class="form-control mobile-only"
    onclick="window.scrollTop()">
    Retour ⬆️
  </button>
</form>
